@import "compass";

body {
	margin-top: 100px; /* 100px is double the height of the navbar - I made it a big larger for some more space - keep it at 50px at least if you want to use the fixed top nav */
}

footer {
	margin: 50px 0;
}

//loading indicator
#loading-indicator {
	position: absolute;
	left: -2px;
	top: 16px;
}
@media (min-width: 768px) {
	#loading-indicator {
		left: -20px;
	}
}
//EndOF loading indicator

.navbar-header{
	position: relative;
}

ul.posts{
	list-style: none;
	margin: 0;
	padding: 0;
}